<ion-header>
  <ion-toolbar>
    <ion-title>Volver</ion-title>

    <ion-buttons slot="start">
      <!--posiciona al junto al titulo el boton-->
      <ion-back-button defaultHref='/home'></ion-back-button>
      <!--boton para volver atras ubicado junto al titulo forma de flecha-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-title>Recuperar contraseña</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="full">
        <ion-label position="floating">Usuario</ion-label>
        <!-- Usamos ngModel para indicarle al input el objeto a utilizar-->
        <ion-input type="text" [(ngModel)]="user.usuario"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <!-- Usamos ngModel para indicarle al input el objeto a utilizar-->
        <ion-input type="text" [(ngModel)]="user.password"></ion-input>
      </ion-item>
     
      <ion-row>
        <ion-col>
          <!-- Indicamos mediante el (click) la funcion a quien referenciara-->
          <ion-button expand="full" (click)="recuperar()">Recuperar contraseña</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>