

<ion-header>
  <ion-toolbar>
    <ion-button shape="round" color="danger" slot="end" routerLink="/home"><ion-icon slot="end" name="exit-outline"></ion-icon>Cerrar Sesion</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-card>
    <ion-img size="small" src="assets/img/duoc.jpg"></ion-img>
    <ion-card-header>
      Bienvenido
    </ion-card-header>
    <ion-card-content>
      <ion-button shape="round" color="warning" routerLink="/asistencia" >Mis Asistencias</ion-button>
    </ion-card-content>
    <ion-card-content>
      <ion-button shape="round" color="warning" routerLink="/tab1" >Anuncios</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>