<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>RegistrAPP<ion-icon name="logo-ionic"></ion-icon></h1>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-text color="tertiary">
      <h1 style="margin: 1cm;"><strong>Bienvenido</strong></h1>
      <ion-img src="assets/img/duoc.jpg"></ion-img>
    </ion-text>
  </ion-card>

    
   <ion-grid>
      <ion-row>
        <ion-col>  
          <ion-button shape="round" color="success" expand= "block "routerLink="/login" routerDirection="forward">Iniciar sesion</ion-button> 
          <!-- crear un boton que va a un link (interno en este caso) redireccionando la pagina-->
        </ion-col>
        <ion-col> 
          <ion-button shape="round" expand= "block" routerLink="/login/registra-usuario" routerDirection="forward" >Registrar Usuario</ion-button> 
          <!-- crear un boton que va a un link (interno en este caso) redireccionando la pagina-->
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
